@font-face {
    font-family: 'Countdown';
    src: url('./fonts/DS-DIGI.TTF');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* === Main === */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-rendering: optimizeLegibility;
    height: 100vh;
}

#progress-bar {
    width: 550px;
    height: 550px;
    position: relative;
}

div.cd-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div.cd-timer {
    display: flex;
    justify-content: center;
    font-family: 'Countdown';
}

div.cd-show, select.cd-select {
    font: 8rem 'Countdown';
}

div.cd-show div.progressbar-text {
    text-align: center !important;
}

div.cd-show span.cd-finish-time {
    display: block;
    font: 2rem 'Calibri' !important;
}

select.cd-select {
    border: 0px;
}

div.cd-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 25%;
}

/* === Dark mode === */
body.dark, body.dark div.cd-show>div.progressbar-text, body.dark div.cd-timer>select.cd-select {
    color: #fff !important;
    background-color: #313131 !important;
}

body.dark button.cd-btn, body.dark button.cd-btn:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 5px 5px #585757 !important;
}

body.dark button.cd-btn:disabled, body.dark button.cd-btn:disabled:hover {
    background-color: #bbbbbb !important;
}

/* === Buttons === */

button.cd-btn, button.cd-btn:active, button.cd-btn:link, button.cd-btn:disabled:hover {
    width: 125px;
    height: 45px;
    border: 0px;
    background-color: #bbb;
    color: #1f1f1f;
    border-radius: 10px;
    transition: all 0.2s;
    margin-right: 1.5rem;
    box-shadow: 5px 5px #e5e5e5;
}

button.cd-btn:focus {
    outline: none;
}

button.cd-btn:hover {
    cursor: pointer;
    background-color: #979292;
}

button.cd-btn:disabled {
    background-color: #f1f1f1;
}

button.cd-btn:disabled:hover {
    background-color: #f1f1f1;
    cursor: default;
}

button.cd-btn.cd-btn-primary {
    background-color: #38d35c !important;
    color: #fff !important;
}

button.cd-btn.cd-btn-primary:hover {
    background-color: #33b451 !important;
}

button.cd-btn.cd-btn-warning {
    background-color: #f39842 !important;
    color: #fff !important;
}

button.cd-btn.cd-btn-warning:hover {
    background-color: #d88639 !important;
}